body {
    background-color: rgb(255, 255, 255);
}
    #contact {
    padding: 5rem 0;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
    z-index: 1;
    background-image: url(T-VOTR04_L.jpg);
}

.lezebla {
    display: flex;
    width: 250px;
    gap: 10px;
}
.lezebla .kombo {
    display: flex;
    width: 120px;
}

input {
    width: 250px;
    border: solid 1px black;
    height: 30px;
    border-radius: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    border: solid 1px rgb(255, 0, 0);
    padding-left: 10px;
}

input::placeholder {
    padding-left: 10px;
    color: white;
 }

.content {
    flex-direction: column;
    display: flex;
    align-items: center;
}

div p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 1px;
}

h2 {
    font-weight: 700;
    margin-bottom: 1.2rem;
    color: black;
}

#envoi {
    background-color: rgb(255, 0, 0);
    border: solid 1px black;
    width: 90px;
    height: 20px;
    border-radius: 10px;
    color: white;
}